@{
    ViewData["Title"] = "Home Page";
    string b = "x";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <a asp-controller="Home" asp-action="ImprimirOtro" class="btn btn-primary" target="_blank">Imprimir</a>
</div>
